<nav>
    <a href="/Index" id="nav-links">Index</a> |
    {{#if isLoggedIn}}
    {{else}}
        <a href="/Register" id="nav-links">Registration</a> |
    {{/if}}
{{#if isLoggedIn}}
        <a href="/Post" id="nav-links">Image post</a> |
{{else}}{{/if}}
    {{#if isLoggedIn}}
        <a id="logout-button">Log out</a>
    {{else}}
        <a id="nav-links" href="/Login">Log in</a>
    {{/if}}
</nav><br>


    <form class="search-bar" method="GET" action="/post/search" enctype="application/x-www-form-urlencoded">
            <input id="search-text" class="search-text" name="searchTerm" type="text" value={{searchValue}}></div>
            <button type="submit" class="search-button fas fa-search">search</button>
    </form>

