<nav>
    <a href="/Index">Index</a> |
    {{#if isLoggedIn}}
    {{else}}
        <a href="/Register">Registration</a> |
    {{/if}}
{{#if isLoggedIn}}
        <a href="/Post">Image post</a> |
{{else}}{{/if}}
    {{#if isLoggedIn}}
        <a id="logout-button">Log out</a>
    {{else}}
        <a href="/Login">Log in</a>
    {{/if}}
</nav><br>