<!DOCTYPE html>
<html lang="en">
<html>


  <head>
     {{>head}}
  </head>


  <body>
                <header>
                    <h1>{{title}}</h1>
                            <nav>
                                {{>navbar}}
                            </nav>
                </header>
                {{#if (nonEmptyObject messages)}}
                    {{> flashmessages}}
                    <script>
                        var e = document.getElementById("flash-message");
                        var tickCounter = 0;
                        e.style.opacity = '100%'
                        let t = setInterval(() => {
                            if (tickCounter >= 130) {
                                e.style.opacity -= '0.008'
                            }
                            tickCounter += 1
                            //after time
                            if (tickCounter >= 400) {
                                ///delete the item
                                e.remove()
                            }
                            }, 10);
                    </script>
                {{/if}}
        {{{body}}}
        {{>footer}}
  </body>
{{#if isLoggedIn}}
    <script>
        document.getElementById('logout-button')
                .addEventListener('click', function(ev){
                    fetch('/users/logout', {method:"POST"})
                            .then(response => response.json())
                            .then(function(res_json){
                                console.log(res_json);
                                window.location.replace('/');
                            })
                            .catch(err=>console.log(err));
                })
    </script>
{{/if}}
</html>
