
<div class = "textFrontPage">
        There are <contentCounter id="contentCounter"></contentCounter> items
</div>

<div class="index-controls">
        <button id="delete" type="button">Delete items</button>
</div>

<div id="content" class="content">
        <div id=" "></div>
        <br>
</div>
