<body>
        <main>

            <!!!!!!!! These Posts are purely as an example for formatting !!!!!!!!!!>

            <div class="grid-container">
                            <div class="Posts"><br>
                                        <div class="text"><b>This is the post's title</b><br>
                                                Author | Creation Time<br>
                                                <img src="/public/images/test.jpg"><br>
                                             This is the description of the image. In this case, this is an extremely close up picture of my cat, Sammy. She is spoiled by every stretch of the imagination. Nevertheless, she is a good cat.
                                        </div>
                            </div>

                        <!Area to submit a comment>
                            <div class="commentForm">
                                <form id="CommentForm">
                                <label for="PostComment">Enter a Comment:</label><br>
                                    <textarea rows="23" cols="60" placeholder="Comment here"></textarea> <br>
                                    <input type="submit"><br>
                                </form>
                            </div>
            </div>

            <!Example comments to showcase the formatting>
            <div class="commentForm"> This is example text to show off where the comments will go.</div>
            <div class="commentForm"> This is another comment!</div>
            <div class="commentForm"> Wow! A third comment!</div>
            <div class="commentForm"> I can't believe we got 4 comments on this post! way to go! that's a lot of comments to get on a post! I'm going to make this comment extra long to showcase what it will look like when there's long comments in this comment section!</div>
            <br>

        </main>
</body>
