body {
  font: 20px "Bahnschrift";
  background: white;
  margin:0

}
main {
  background: lightgray;
  border: 1px solid #333;
  min-height: 800px;

}

header{
  position: relative;
  width: 100%;
  background: seagreen;
  font: 18px "Agency FB";
  text-align: center;
  border: 2px solid #333;
}

.text{
  word-wrap: break-word;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;

}

.textFrontPage{
  margin: auto;
  text-align: center;
  word-wrap: break-word;
  max-width: 70%;
  font-size: 35px;
}

a {
  color: darkblue;
  font-size: 22px
}

img{
  max-height: 400px;
  max-width: 500px;

}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  /* negative value of footer height */
  height: 40px;
  background: seagreen;
  border: 2px solid #333;
}

.forms{
  margin-left: 33%;
  margin-top: 100px;
  max-width: 450px;
  padding: 35px;
  border: 5px solid seagreen;
}

.Posts{
  border: 2px solid black;
  text-align: center;
}