body {
    font: 20px "Bahnschrift";
    margin:0;
    background: lightgray;
}

header{
    position: relative;
    width: 100%;
    /*background: seagreen;*/
    background-image: url('../images/forgpattern.jpg');
    background-size: 100px;
    font: 18px "Agency FB";
    text-align: center;
    border: 2px solid #333;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    /* negative value of footer height */
    height: 40px;
    background: #549b4b;
    border: 2px solid #333;
}

h1{
    width: fit-content;
    background: #599e4e;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 22px;
    padding-bottom: 22px;
}
a {
    color: darkblue;
    font-size: 22px;
    text-decoration: underline;
    background: #599e4e;
}
nav{
    width: fit-content;
    background: #599e4e;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0px;
}

main {
    background-image: url('../images/background1.jpg');
    background-size: 400px;

    min-height: 800px;
}

.alerts-bad{
    width: fit-content;
    text-align: center;
    margin: 0 auto 0px;
    background: #599e4e;
    padding: 7px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0px 0px 25px 25px;
    color: darkred;
}

.alerts-good{
    width: fit-content;
    text-align: center;
    margin: 0 auto 0px;
    background: #599e4e;
    padding: 7px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0px 0px 25px 25px;
}

.flash-message{
    width: fit-content;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0px;
    opacity: 100%;
}